<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Cats</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body {
            font-family: 'Comic Sans MS', cursive;
            background-color: #f4f4f4;
        }
        .card-img-top {
            height: 16rem;
            object-fit: cover;
        }
        .card{
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); 
        }
        .card-link {
            text-decoration: none;
        }
        .card-body h2,
        .card-body p {
            color: black;
        }
    </style>
</head>
<body>
    {% load static %}
    {% include "navbar.html" %}
    <h1 class="text-center mt-3 mb-4">Available Cats for Adoption or Foster</h1>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
            {% for cat in cat_list %}
                <div class="col mb-4 text-center">
                    <div class="card" style="width: 18rem;">
                        <a href="{% url 'animal_detail' cat.animal.id %}" class="card-link">
                            {% if cat.animal.image_path %}
                                <img class="card-img-top" src="{% static cat.animal.image_path %}" alt="{{ cat.animal.name }} Image" alt="Card image cap">
                            {% endif %}
                            <div class="card-body">
                                <h2 class="card-title">{{ cat.animal.name }}</h2>
                                <p class="card-text"><strong>Breed:</strong> {{ cat.breed }}</p>
                                <p class="card-text"><strong>Weight:</strong> {{ cat.weight }} lbs</p>
                                <p class="card-text"><strong>Age:</strong> {{ cat.age }} years old</p>
                                <p class="card-text"><strong>Fosterable or Adoptable:</strong> {% if cat.animal.fosterable %}Fosterable{% else %}Adoptable{% endif %}</p>
                                {% if not cat.animal.fosterable %}
                                    <p class="card-text"><strong>Price:</strong> ${{ cat.animal.price }}</p>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </div>
            {% empty %}
                <p class="col text-center">No cats available for adoption or foster.</p>
            {% endfor %}
        </div>
    </div>
    {% include "footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
