<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(128, 128, 128, 0.95);
   color: white;
   text-align: center;
   padding: 10px;
}

body {
    font-family: 'Comic Sans MS', cursive;
}

.footer p {
   margin: 0;
   text-shadow: 2px 2px 2px black;
   margin: 10px;
}
</style>
</head>
<body>
<div class="footer">
  <p>Copyright 2024 By Nobody. All Rights Reserved.</p>
</div>

</body>
</html>
